<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>document.getElementById("act").innerHTML = actions</script>
</head>

<body>
    <div id="app">
        <a v-if="gottenAPI==false">
            {{startUp()}}
        </a>
        <div v-show="id!=0" class="TheBox">
            <div class="CBox">
                <div class="Leftie">
                    <h4>{{ creaturesList[id-1].name }} </h4>
                    <i>{{ creaturesList[id-1].size }}</i>
                </div>
                <div class="WildShape">
                    <button @click="Stuff(), MaxHP=creaturesList[id-1].hp">Wild Shape this creature</button>
                </div>
            </div>
            <div class="CBox">
                <b>Armor Class:</b> {{ creaturesList[id-1].ac }} <br>
                <b>Health Points:</b> {{ creaturesList[id-1].hp }} <br>
                <b>Speed:</b> {{ creaturesList[id-1].speed }}
            </div>
            <div class="CBox">
                <div class="FirstStat">
                    <h5>STR</h5>
                    <h5>{{ creaturesList[id-1].str }} ({{statCalc(creaturesList[id-1].str)}}) </h5>
                </div>
                <div class="Stat">
                    <h5>DEX</h5>
                    <h5>{{ creaturesList[id-1].dex }} ({{statCalc(creaturesList[id-1].dex)}}) </h5>
                </div>
                <div class="Stat">
                    <h5>CON</h5>
                    <h5>{{ creaturesList[id-1].con }} ({{statCalc(creaturesList[id-1].con)}}) </h5>
                </div>
                <br><br><br>
            </div>
            <div class="InfoScroll">
                <div class="CBox">
                    <b>Skills:</b> {{ creaturesList[id-1].skills }}<br>
                    <b>Senses:</b> {{ creaturesList[id-1].senses }}<br>
                    <b>Challenge:</b> {{ creaturesList[id-1].challenge }}<br>
                    <b>Proficiency Bonus:</b> +{{ creaturesList[id-1].proficiency }}
                </div>
                <div class="CBox">
                    {{ tHTML(creaturesList[id-1].traits) }}
                    <div class="LB" v-html="traits"></div>
                </div>
                <div class="CBoxbottom">
                    {{ aHTML(creaturesList[id-1].actions) }}
                    <div class="LB" v-html="actions"></div>
                </div>
            </div>
        </div>
        <div class="SearchBox">
            <div class="CBoxA">
                <button v-show="Transformed" class="CL2" @click="No()">Cancel</button>
                <div class="Transformed" v-show="Transformed">
                    &nbsp;&nbsp;Currently transformed as "{{ creaturesList[transformId-1].name }}"
                </div>
                <div v-show="!Transformed">
                    &nbsp;&nbsp;Not currently transformed
                </div>
            </div>
            <div class="CBox" class="Center">
                <input class="HPBAR" type="number" placeholder="hp" v-model="CurrentHP"> -> {{ CurrentHP }} / {{ MaxHP }} HP
                <div class="CL"> Current Challenge Level: {{ MyChallengeLevel }} </div>
            </div>
            <div class="CBox" class="Center">
                &nbsp;
                <button @click="WildShapeUses=2">Rest</button>
                &nbsp;
                {{ WildShapeUses }} Wild Shape uses remaining
            </div>
            <div class="Scroll">
                <div class="CBox2" v-for="creature in creaturesList">
                    <div class="SearchLeft">
                        {{ creature.id }} - {{ creature.name }}
                        <button class="Rightie" @click="id=creature.id">Inspect creature</button><br>
                        Challenge: {{ creature.challenge }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>